<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Helpdesk</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                Привет, {{ user.username }} |
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- Контент страницы -->
        {% endblock %}
    </main>
</body>
</html>
